checkpoint_bank/
figs/
meta_fea_temp.npy
meta_fea_dict.npy
output.txt
output_D69xM49.csv
__pycache__/
*.pyc
.ipynb_checkpoints/
output/

column_mapping.json
**/columns.txt
**/columns_save.txt
trash/
**/note.txt


*.pt
*.pth
*.pkl
*.docx
*.pdf
*.xlsx
*.xls
~$*
._*
